html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    overflow: hidden;
    border: solid 2px black;
    background-color: #124559;
    max-width: 428px;
    max-height: 926px;
    min-height: 812px;
    min-width: 375px;
}

#mainwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagewrapper {
    width: 540px; /* you can use % */
    height: auto;
    max-width: 428px;
    max-height: 926px;
    /*min-height: 812px;
    min-width: 375px;*/
    overflow-y: scroll;
    overflow-x: scroll;
}

/*Index*/
.dropdown {
    display: flex;
    max-width: fit-content;
    color: black;
    border: none;
}

.dropdownitems {
    background-color: white;
    color: black;
    font-weight: bold;
}

button {
    height: 35px;
    min-width: 60px;
    background-color: #598392;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: black;
}

    #button:hover {
        color: #AEC3B0;
    }

#searchwrapper {
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    background-color: white;
    width: fit-content;
}

#searchicon {
    border-right: 1px black solid;
    width: 30px;
}

#searchbar {
    outline: none;
    border: none;
}

.items {
    width: fit;
    cursor: pointer;
}

/*admin*/
.clear {
    height: 200px;
}

.loginform {
    /*background-color: #01161E;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 30%;
}

/*admin menu*/
.adminmenu {
    text-align: center;
}

    .adminmenu a {
        user-select: none;
        top: 50%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        background-color: #01161E;
        color: white !important;
        font-weight: bold;
        height: 40px;
        cursor: pointer;
    }

.formwrapper {
    display: none;
    flex-direction: column;
}

.button {
    min-height: 35px;
    min-width: 60px;
    background-color: #598392;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: black;
}

.actionform {
    display: none;
    flex-direction: column;
}

#hiden {
    display: none;
}

/*Route*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .4s;
    transition: opacity .2s;
}

    .slider::-webkit-slider-thumb {
        appearance: none;
        width: 40px;
        height: 40px;
        background: #04AA6D;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
    }

.description {
    display: none;
}
