@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div class="dropdown">
    <select id="routesDropDown">
    </select>
</div>


<script>
    const routesDropDown = document.getElementById("routesDropDown");
    const routes = ViewData["routes"];

    for (let route in routes) {
        let option = document.createElement("option");
        option.setAttribute('value', data[route]);

        let optionText = document.createTextNode(route);
        option.appendChild(optionText);

        countriesDropDown.appendChild(option);
    }
</script>