@model Door2DoorFrontEnd.Models.LocationModel
@{
    ViewData["Title"] = "Navigation";
}

<style>
    .dropdown {
        max-width: fit-content;
        color: black;
        border: none;
    }

    .dropdownitems {
        max-width: 30px;
        background-color: white;
        color: black;
        font-weight: bold;
    }

    #button {
        min-height: 35px;
        min-width: 60px;
        background-color: #598392;
        color: white;
        font-weight: bold;
        border-radius:10px;
        border:black;
    }

    #button:hover {
            color: #AEC3B0;
    }

    #searchwrapper{
        display:flex;
        flex-direction:row;
        border:solid black 2px;
        background-color:white;
        width:fit-content;
    }

    #searchicon {
        border-right:1px black solid;
        width: 30px;
        /*background-color: cornflowerblue;*/
    }
    #searchbar{
        outline:none;
        border:none;
    }
    .items{
        width:100%;
        cursor:pointer;
    }

</style>

<div>
    <div class="imagewrapper">
        <img <img src="~/assets/skoleplan.png" />
    </div>
    <div class="dropdown">
        <button onclick="toggleDropDown()" id="button">
            Søg
        </button>
        <div id="itemlist" class="dropdownitems" style="display:none;">
            <div id="searchwrapper"> <img id="searchicon" src="~/assets/loupe.png" /><input type="text" id="searchbar" /></div>
                @foreach (var item in Model.LocationList)
                {
                    <div class="items" id="@item.Id" onclick="itemClicked(@item.Id)">@item.Name</div>
                }
        </div>

    </div>
</div>

<script>
    function toggleDropDown() {
        var itemlist = document.getElementById('itemlist');
        if (itemlist.style.display == "none") {
            itemlist.style.display = "block";
        } else {
            itemlist.style.display = "none";
        }
    }
    function itemClicked(item) {
        //window.history.pushState({}, document.title, "?route="+item);
        window.location.href = "/navigation?routeid="+item;
    }
    document.getElementById('searchbar').addEventListener('keyup', search);
    function search(evt) {
        var div_item = document.getElementsByClassName("items");
        if (this.value != null || this.value != "") {
            for (var i = 0; i < div_item.length; i++) {
                if (div_item[i].id.toUpperCase().includes(this.value.toUpperCase())) {
                    div_item[i].style.display = '';
                } else {
                    div_item[i].style.display = 'none';
                }
            }
        } else {
            for (var i = 0; i < div_item.length; i++) {
                div_item[i].style.display = '';

            }
        }
    }

    const routesDropDown = document.getElementById("routesDropDown");
    const routes = @Model;

    for (let route in routes) {
        let option = document.createElement("option");
        option.setAttribute('value', data[route]);

        let optionText = document.createTextNode(route);
        option.appendChild(optionText);

        countriesDropDown.appendChild(option);
    }
</script>