@model Door2DoorFrontEnd.Models.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<style>
    .adminmenu a{
        display:flex;
        justify-content:space-around;
        margin-bottom:20px;
        background-color:#01161E;
        color:white !important;
        font-weight:bold;
        height:40px;
    }
</style>
<div class="adminmenu">
    <a>Tilføj admin</a>
    <a>Tilføj rute</a>
    <a>Fjern admin</a>
    <a>Fjern rute</a>
</div>