@model Door2DoorFrontEnd.Models.Auth
@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm("Login","Admin", FormMethod.Post))
{
    <div>
        @Html.TextBoxFor(Model => Model.Username, new {type="username"})
        @Html.TextBoxFor(Model => Model.Password, new {type="password"})
        <button type="submit">Login</button>
    </div>
}
