@model Door2DoorFrontEnd.Models.AdminModel
@{
    ViewData["Title"] = "Login";
}
<style>
/*    .clear {
        height:200px;
    }

    .loginform {
        background-color: #01161E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 30%;
    }*/
</style>
<div class="clear">
</div>
@if (Model.Auth.Authenticated == 0)
{
    <p style="color:red;">Wrong Credentials!</p>
}
@using (Html.BeginForm("Login", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.Auth.Authenticated);
    <div class="loginform">
        @Html.TextBoxFor(Model => Model.Auth.Username, new {type="username"})
        @Html.TextBoxFor(Model => Model.Auth.Password, new {type="password"})
        <button class="button" type="submit">Login</button>
    </div>
}
